<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/css/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
         <div class="main-content">
       {{>header}}
       <img class="portrait" src="/css/angry bird.png">
       <p>use this site to get your weather!</p>
        </div>
        
        {{>bottom}}
    </body>
</html>