<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
        <link rel="icon" href="/css/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
             
             {{>header}}
             <p>use this app to get your weather!</p>   
        </div>
        <p>{{errormassage}}</p>
        {{>bottom
        }}
    </body>
</html>